<div id="top">
    <nav class="navbar shadow-sm" id="navBar" >
        <a href="/home">
            <img src="/assets/alcovex-logo.png" id="logo">
        </a>
        <div>
            <a href="https://alcovex.notion.site/alcovex/Careers-AlcoveX-Product-Studio-4a329ed201c14d1dbaa08ae6d08cdb92" target="_blank" >
                <button type="button" class="btn button1">
                    We're Hiring!
                </button> 
            </a>
        </div> 
    </nav>
</div>

<app-home></app-home>
<footer class="shadow-lg footer">
    <h1 style="font-size: 18px; font-family: 'Poppins',sans-serif; color: #1687a7; ">© <b>AlcoveX Product Studio</b>, a unit of Alcove Business Advisory Private Ltd.
    <a href="#top" class="foot"><i class="bi bi-arrow-up"></i></a>
    </h1>
</footer>
<router-outlet></router-outlet>
