<div class="card">
    <div class="container">
        <div >
            <div class="heading1">
                <b>Build products that impact.</b> 
            </div>
            <div class="heading2">
                Alcove's portfolio of products are used by thousands of users daily, join us in our journey and make an impact!
            </div>
            <div>
                    <a href="#findOutMore" class="fill"> Find out More</a>
                    <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x3a394368aec165b3:0xd5bafd7092437c8a?source=g.page.share" target="_blank" class="icon">
                        <i class="bi bi-geo-alt-fill"></i>
                    </a>
                    <a target="_blank" class="icon">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="assets/logo3.png" alt="" id="logo">
    </div>
</div>
<div class="border"></div>

<div class="card">
    <div class="container">
        <div>
            <div class="heading2">
                <b>InterviewBuddy</b>
            </div>
            <div class="para1">
                <p>InterviewBuddy is a premier video interviewing platform offering one-on-one personalized practice interviews with industry experts from companies like Google, Schneider Electric, Facebook, Microsoft, Qualcomm, Adobe, Samsung, Shell, Philips, Sony, HSBC, PwC, GoJek, Schlumberger and 100+ global companies & startups.</p>
            </div>
        </div>
        <a href="https://interviewbuddy.in/" target="_blank">
            Visit InterviewBuddy
        </a>
    </div>
    <div class="container">
        <img src="assets/img1.png" alt="" class="image1">
    </div>
</div>

<div class="card">
    <div class="container">
        <img src="assets/img2.png" alt="" class="image1">
    </div>
    <div class="container">
        <div>
            <div class="heading3">
                <b>Datatrove</b>
            </div>
            <div class="para2">
                <p>Datatrove is a career fulfilment tool that enables colleges & universities to visualize the progress of students by streamlining and automating the management of student data and placements in order to deliver better and richer career fulfillment.</p>
            </div>
        </div>
        <div>
            <a href="https://gitam.datatrove.in/" target="_blank" class="right">
               Visit Datatrove
            </a>    
        </div>
    </div>
</div>

<div class="border"></div>
<div class="card" id="findOutMore">
    <div class="container">
        <div>
            <div class="heading2">
                <b>What is AlcoveX Product Studio?</b>
            </div>
            <div class="para1">
                <p>AlcoveX Product Studio is a unit of Alcove Business Advisory Private Ltd, it focuses on bringing together talented individuals of various disciplines to work on products from Alcove Partners' portfolio of companies.</p>
            </div>
        </div>
        <a href="https://www.linkedin.com/company/alcovex/" target="_blank">
            Visit Our LinkedIn
        </a>
        <br> <br> <br>
        <div>
            <div class="heading2">
                <b>Alcove Partners</b>
            </div>
            <div class="para1">
                <p>Alcove Partners provides much-needed strategic and financial support to aspiring entrepreneurs in Andhra Pradesh. We provide mentorship, incubation space, technical and digital marketing support and financial support to startups and SMEs.</p>
            </div>
        </div>
        <a href="http://alcovepartners.com/" target="_blank">
            Visit Alcove Partners
        </a>
    </div>
</div>

